aside {
  position: fixed;
  top: 0;
  left: -100%;
  width: 30rem;
  max-width: 80%;
  height: 100vh;
  background: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: all 300ms ease-out;
  z-index: 100;
}

:host([opened]) aside{
  left: 0;
}

:host([opened]) .backdrop{
  opacity: 1;
  pointer-events: all;
}

header {
  padding: 1rem;
  background: black;
  position: relative;
}

header button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: white;
  background: transparent;
  font-size: 1.5rem;
  border: none;
}

header button:focus {
  outline: none;
}

header h1 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

#tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

#tabs button {
  width: 30%;
  background: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  font: inherit;
  padding: 0.15rem 0;
}

#tabs button.active,
#tabs button:hover,
#tabs button:active {
  background: black;
  color: white;
}

#tabs button:focus {
  outline: none;
}

#contact-information {
  padding: 0 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-out;
}