div {
  font-weight: normal;
  background-color: black;
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 0.75rem;
  z-index: 10;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.26);
  display: none;
}

::slotted(.highlight) {
  border-bottom: 2px dotted red;
}

:host {
  position: relative;
}

:host([opened]) div {
  display: block;
}

:host(.important) {
  background: var(--color-primary, #ccc);
  padding: 0.15rem;
}

:host-context(p) {
  font-weight: bold;
}

.icon{
  background: black;
  color: white;
  padding: 0.15rem 0.5rem;
  text-align: center;
  border-radius: 50%;
}