:host {
  font-family: sans-serif;
  border: 2px solid var(--color-primary, black);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

form input {
  font-family: inherit;
  color: var(--color-primary, black);
  padding: 0.1rem 0.25rem;
  margin-bottom: 0.5rem;

}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary, black);
  background: var(--color-primary, black);
  color: var(--color-primary-inverse, white);
  display: block;
  cursor: pointer;

}

form button:disabled,
form button:disabled:hover {
  background: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}


form button:hover,
form button:active {
  background: var(--color-primary-highlight,grey);
  border-color: var(--color-primary-highlight,grey);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

li:hover,
li:active {
  background: rgb(124, 0, 124);
  color: white;
}