:host {
  font-family: sans-serif;
  border: 2px solid var(--color-primary, black);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

:host(.error) {
  border-color: orangered;
}

form input {
  font-family: inherit;
  color: rgb(61, 0, 61);
  padding: 0.1rem 0.25rem;
  margin-bottom: 0.5rem;

}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(61, 0, 61);
  background: rgb(61, 0, 61);
  color: white;
  display: block;
  cursor: pointer;

}

form button:disabled,
form button:disabled:hover {
  background: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}


form button:hover,
form button:active {
  background: rgb(124, 0, 124);
  border-color: rgb(124, 0, 124);
}


